.list {
  display: block;
  gap: 10px;
  font-size: 16px;
  padding-left: 30px;
  list-style: disc;
}

.infoMessage {
  font-size: 16px;
  color: #0000ff;
  text-align: center;
  margin-bottom: 24px;
}

.link {
  color: #0000ff;
  text-decoration: none;
}

/* .link:visited {
  color: #0e0e21;
} */

.link:hover {
  color: #8e8e92;
  text-decoration: underline;
}
